<h1>Welcome back, <%= @jedi.name %>!</h1>
<h2>The HoloNet's been buzzing since your absence.</h2>
<div class="text-end">
    <a href="/posts/new">
        <button class="btn btn-lg btn-secondary">Create Post</button>
    </a>
</div>
<ul>
    <% @posts.each do |post| %>
        <div class="card mt-3 p-3">
            <h3 class="card-title">
                <a href="/posts/<%= post.id %>"><%= post.title %></a>
            </h3>
            <div class="d-flex justify-content-between">
                <div>
                    <span>by</span>
                    <img class="thumbnail-jedi" src="<%= post.jedi.image_url %>" />
                    <span><%= post.jedi.name %></span>
                </div>
            <% if post.jedi_id == current_user.id %>
                <div>
                    <a href="/posts/edit/<%= post.id %>" class="my-3">
                        <button class="btn btn-secondary">Edit</button>
                    </a>
                    <form action="/posts/<%= post.id %>" method="POST">
                        <input type="hidden" id="hidden" name="_method" value="delete">
                        <button class="btn btn-secondary mt-3" type="submit">Delete</button>
                    </form>
                </div>
            <% end %>
            </div>
        </div>
    <% end %>
</ul>