<h1><%= @post.title %></h1>
<h2><%= @post.body %></h2>
<h3><%= @post.commendations.count %> Likes</h3>
<% if @post.commendations.any?{|commendation| commendation.jedi_id == current_user.id} %>
    <form method="POST" action="/posts/<%= @post.id %>/commendation">
        <input type="hidden" name="_method" value="delete" >
        <button type="submit">Remove Like</button>
    </form>
<% else %>
    <form method="POST" action="/posts/<%= @post.id %>/commendation">
        <button type="submit">+1</button>
    </form>
<% end %>
<h3>Comments:</h3>
<% if @post.comments.count > 0 %>
    <% @post.comments.each do |comment| %>
        <p><a href="/jedi/<%= comment.jedi.id %>"><%= comment.jedi.name %></a> said:</p>
        <p><%= comment.body %></p>
        <small><%= format_timestamp(comment.created_at) %></small>
    <% end %>
<% else %>
    <p>No comments, yet.</p>
<% end %>
<form action="/comments/<%= @post.id%>" method="POST">
    <div>
        <label for="body">Message:</label>
        <textarea rows="5" id="body" name="body"></textarea>
    </div>
<button type="submit">Post comment!</button>
</form>